<!doctype html>
<html>
<head><meta charset="utf-8"><title>User Parts</title></head>
<body>
  <h1>Компоненты пользователя #{{ user_id }}</h1>
  <form method="get">
    <label>Class <input name="class" value="{{ class_filter }}"></label>
    <label>Size <input type="number" min="1" max="10" name="size" value="{{ size_filter or '' }}"></label>
    <label>Type
      <select name="type">
        <option value="">-- any --</option>
        {% for type_name in part_types %}
          <option value="{{ type_name }}" {% if type_filter == type_name %}selected{% endif %}>{{ type_name }}</option>
        {% endfor %}
      </select>
    </label>
    <button type="submit">Фильтровать</button>
  </form>
  <ul>
    {% for part in parts %}
      <li>{{ part.vendor }} {{ part.model }} | {{ part.class_ }} | size {{ part.size }} | {{ part.part_type.type }}</li>
    {% else %}
      <li>Нет компонентов</li>
    {% endfor %}
  </ul>
</body>
</html>
